<h1>Sistema de Receitas</h1>
<ul class="nav nav-pills nav-fill mt-3 mb-5">
    <li class="nav-item">
        <a class="nav-link active" href="/"><i class="bi bi-journal-bookmark"></i> Sistema de Receitas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/sobre"> <i class="bi bi-info-circle"></i> Sobre</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/receita/cria"> <i class="bi bi-file-earmark-plus"></i> Nova Receita</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/tempo"><i class="bi bi-alarm"></i> Receitas por Tempo de Preparo</a>
    </li>
</ul>

{{#if receitas}}
{{#each receitas}}
<div class="card mb-3" style="width: 25rem;">
    <div class="card-header">
        <h5>{{this.titulo}}</h5>
        <p class="card-text">Tempo de preparo: {{this.tempo}} minutos.</p>
    </div>
    <div class="card-body">
        <a class="btn btn-info" href="/receita/consulta/{{this.id}}"><i class="bi bi-eye"></i> Ver Detalhes</a>
        <a class="btn btn-warning" href="/receita/altera/{{this.id}}"><i class="bi bi-pencil-square"></i> Alterar</a>
        <a class="btn btn-danger" href="/receita/deleta/{{this.id}}"><i class="bi bi-x-circle"></i> Excluir</a>
    </div>
</div>

{{/each}}
{{else}}
<p>Nenhuma receita cadastrada ainda. Que tal adicionar a primeira?</p>
{{/if}}